<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        To do
        {% endblock %}
    </title>
</head>
<body>
    {% block content%}
    <ul>
        {% for task in tasks%}
        <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <form action="" method="POST">
        <input type="text" name="task">
        <input type="submit" value="Dodaj zadanie">
    </form>
    {% endblock %}
</body>
</html>